{% extends "_base.html" %}

{% block title %}
	Music - {{ artist }} - {{ albumName }}
{% end %}

{% block content %}
	{% if error %}
		An error occurred: {{ error }}
	{% else %}
		<table class="table table-striped">
			<tr>
				<th colspan=2 align=left>
					<b>{{ artist }} - {{ albumName }}</b>
				</th>
				<th id="addall">
					<a href="#" onclick="javascript:addAlbum('{{ albumId }}', '{{source}}');">add all</a>
				</th>
			</tr>
			<tr style="height:10px">
				<td rowspan="{{ total + 1 }}" valign=top width="300px">
					<img src="{{ albumArt }}" width="300px" />
				</td>
				<td>
					<b>Track</b>
				</td>
				<td>
					<b>Artists</b>
				</td>
			</tr>
			{% for track in tracks %}
				<tr style="height:10px">
					<td>
						<a href="#" onclick="javascript:addTrack('{{str(track['id'])}}', '{{ source }}');">{{ track['title'] }}</a> ({{ track['length'] }})
					</td>
					<td>
						{{ track['artists'] }}
					</td>
				</tr>
			{% end %}
		</table>
	{% end %}
{% end %}

{% block scripts %}
	<script type="text/javascript">
		var addTrack = function(id, source){
			doPost("/api",
				JSON.stringify({"method":"add","params":{"source":source,"id":"" + id + ""}}),
				function (data) {
					console.log(data);
					var message = data["data"];
					if (data["result"] == "success"){
						message = data["data"]["info"];
					}
					var n = $("#notybox").noty({text: message, timeout: 5000, type: data["result"]});
				}
			);
			return false;
		};

		var addAlbum = function(id, source){
			$("#addall").append("<div id=\"spinner\"></div>");
			doPost("/api",
				JSON.stringify({"method":"addAlbum","params":{"source":source,"id":"" + id + ""}}),
				function (data) {
					console.log(data);
					$("#spinner").remove()
					isFinished = true;
					var message = data["data"];
					if (data["result"] == "success"){
						message = data["data"]["info"];
					}
					var n = $("#notybox").noty({text: message, timeout: 5000, type: data["result"]});
				}
			);
			return false;
		};
	</script>
{% end %}