{% extends "_base.html" %}

{% block title %}
	Music - Login
{% end %}

{% block content %}
	<form class="form-signin" action="/login" method="post">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Login failed!
            </div>
        {% end %}
        <input type="text" class="form-control" placeholder="Username" name="user" autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <input type="hidden" name="next" id="next" value="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
{% end %}

{% block scripts %}
	<script type="text/javascript">
        function getUrlParameter(sParam) {
            var sPageUrl = decodeURIComponent(window.location.search.substring(1)),
                sUrlVariables = sPageUrl.split('&'),
                sParameterName,
                i;
            for (i = 0; i < sUrlVariables.length; i++) {
                sParameterName = sUrlVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }
        document.getElementById("next").value = getUrlParameter("next")
	</script>
{% end %}