{% extends "_base.html" %}

{% block title %}
	Music - {{ playlist['name'] }}
{% end %}

{% block content %}
	<table class="table table-striped">
		<tr>
			<th colspan="2" align=left>
				<b>{{ playlist['name'] }}</b>
			</th>
			<th id="addall">
				<a href="#" onclick="javascript:addAlbum('{{ playlist['id'] }}', '{{source}}');">add all</a>
			</th>
		</tr>
		<tr style="height:10px">
			<td>
				<b>Track</b>
			</td>
			<td>
				<b>Artists</b>
			</td>
			<td>
				<b>Album</b>
			</td>
		</tr>
		{% for track in playlist['tracks'] %}
			<tr style="height:10px">
				<td>
					<a href="#" onclick="javascript:addTrack('{{str(track['id'])}}', '{{ source }}');">{{ track['title'] }}</a> ({{ track['length'] }})
				</td>
				<td>
					{{ track['artist'] }}
				</td>
				<td>
					<a href="/album/{{ source }}-{{ track["albumId"] }}">{{ track["album"] }}</a>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}

{% block scripts %}
	<script type="text/javascript">
		var addTrack = function(id, source){
			doPost("/api",
				JSON.stringify({"method":"add","params":{"source":source,"id":"" + id + ""}}),
				function (data) {
					console.log(data);
					var message = data["data"];
					if (data["result"] == "success"){
						message = data["data"]["info"];
					}
					var n = $("#notybox").noty({text: message, timeout: 5000, type: data["result"]});
				}
			);
			return false;
		};

		var addAlbum = function(id, source){
			$("#addall").append("<div id=\"spinner\"></div>");
			doPost("/api",
				JSON.stringify({"method":"addPlaylist","params":{"source":source,"id":"" + id + ""}}),
				function (data) {
					console.log(data);
					$("#spinner").remove()
					isFinished = true;
					var message = data["data"];
					if (data["result"] == "success"){
						message = data["data"]["info"];
					}
					var n = $("#notybox").noty({text: message, timeout: 5000, type: data["result"]});
				}
			);
			return false;
		};
	</script>
{% end %}