{% extends "_base.html" %}

{% block title %}
  Music - Playlists
{% end %}

{% block content %}
	<h3>Playlists</h3>
	<div id="results"></div>

	<ul class="nav nav-tabs" id="myTabs">
		{% if "gmusiclibrary" in providers %}
			<li><a data-toggle="tab" href="#gmusiclibrary">Google Music</a></li>
		{% end %}
	</ul>

	<div class="tab-content" id="tab-content">
		{% if "gmusiclibrary" in providers %}
			<div id="gmusiclibrary" class="tab-pane fade">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for playlist in playlists["gmusiclibrary"] %}
                <tr>
                  <td>
                    <a href="/playlist/gmusiclibrary-{{ playlist["id"] }}">{{ playlist["name"] }}</a>
                  </td>
                </tr>
              {% end %}
            </tbody>
        </table>
      </div>
		{% end %}
	</div>
{% end %}

{% block scripts %}
<script type="text/javascript">
  $('#myTabs a:first').tab('show')
</script>
{% end %}