{% extends "_base.html" %}

{% block title %}
	Music - Queue
{% end %}

{% block content %}
	<table id="queueTable" class="table table-striped">
		<thead>
			<tr>
				<th>

				</th>
				<th>
					Track
				</th>
				<th>
					Owner
				</th>
			</tr>
		</thead>
		<tbody>
			{% if len(queue) == 0 %}
				<tr>
					<td colspan="3" align="center">Queue is empty</td>
				</tr>
			{% else %}
				{% for track in queue %}
					<tr>
						<td>
							{% if track['canDelete'] %}
								<span class="glyphicon glyphicon-remove" style="cursor: pointer;" aria-hidden="true" onclick="javascript:delTrack({{ track["qid"] }})"></span>
							{% end %}
						</td>
						<td>
							{{ track['title'] }}
						</td>
						<td>
							{{ track['owner'] }}
						</td>
					</tr>
				{% end %}
			{% end %}
		</tbody>
	</table>
{% end %}

{% block scripts %}
	<script type="text/javascript">
		function updateQueue() {
			doPost("/api", JSON.stringify({"method":"queue"}),
				function (data) {
					//console.log(data);
					if (data["result"] == "success"){
						var content = "";
						var queue = data["data"]["queue"];
						if (queue.length == 0){
							content += "<tr>";
							content += "<td colspan=\"3\" align=\"center\">Queue is empty</td>";
							content += "</tr>";
						} else {
							for (var i = 0; i < queue.length; i++){
								content += "<tr>";
								content += "<td>";
								if (queue[i]["canDelete"]){
									content += "<span class=\"glyphicon glyphicon-remove\" style=\"cursor: pointer;\" aria-hidden=\"true\" onclick=\"javascript:delTrack(" + queue[i]["qid"] + ")\"></span>";
								}
								content += "</td>";
								content += "<td>" + queue[i]["title"] + "</td>";
								content += "<td>" + queue[i]["owner"] + "</td>";
								content += "</tr>";
							}
						}

						$("#queueTable tbody").html(content);
					}
				}
			);
		}

		setInterval(updateQueue, 5000);

		function delTrack(id){
			doPost("/api",
				JSON.stringify({"method":"delete","params":{"id":"" + id + ""}}),
				function (data) {
					console.log(data);
					var message = data["data"];
					if (data["result"] == "success"){
						message = "Track deleted";
					} else {
						message = data["data"]["message"]
					}
					updateQueue();
					var n = $("#notybox").noty({text: message, timeout: 5000, type: data["result"]});
				}
			);
		};
	</script>
{% end %}