{% extends "_base.html" %}

{% block title %}
	Music - Recommendations
{% end %}

{% block content %}

	{% for rec in recommendations %}
		<div class="row">
			{% for r in rec %}
				<div class="col-md-6" style="padding-bottom: 10px;">
					<div class="media">
						<div class="media-left media-top">
							<img class="media-object" src="{{ r["img"] }}" alt="" width="150px">
						</div>
						<div class="media-body">
							{% if r["type"] == 1 %}
								<h4 class="media-heading">{{ r["artistName"] }} - {{ r["albumName"] }}</h4>
							{% elif r["type"] == 3 %}
								<h4 class="media-heading">{{ r["title"] }}</h4>
							{% end %}
							Type: {{ r["typeName"] }}<br>
							{{ r["suggestionText"]  }}<br><br>
							{% if r["type"] == 1 %}
								<a href="/album/gmusic-{{ r["id"] }}">View album</a><br>
							{% elif r["type"] == 3 %}
								<a href="#" data-toggle="modal" data-target="#addModal" data-station="{{ r["id"] }}" data-title="{{ r["title"] }}">Add station</a><br>
							{% end %}
							
						</div>
					</div>
				</div>
			{% end %}
		</div>
	{% end %}

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addModalLabel">Add station</h4>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>
{% end %}

{% block scripts %}
	<script type="text/javascript">
		$('#addModal').on('show.bs.modal', function (event) {
			var link = $(event.relatedTarget); // Button that triggered the modal
			var station = link.data('station'); // Extract info from data-* attributes
			var title = link.data('title');
			var modal = $(this);

			modal.find('.modal-title').text(title);
			modal.find('.modal-body').html("Loading...");
			modal.find('.modal-body').load("/stations/gmusic-"+station, function( response, status, xhr ) {
				if ( status === "error" ) {
					var msg = "Sorry but there was an error: ";
					modal.find('.modal-body').html( msg + xhr.status + " " + xhr.statusText );
				}
			});
		});
	</script>
{% end %}