{% extends "_base.html" %}

{% block title %}
  Music - Search
{% end %}

{% block content %}
	<div id="searchBox">
		<form id="searchFrm" action="javascript:void(0);" class="form-inline">
            <div class="form-group">
                <label for="search">Search:</label>
                <input type="text" name="search" id="search" class="form-control" autofocus><input type="submit" value="Search" id="searchSub" class="btn btn-primary" />
            </div>
		</form>
	</div>
	<div id="results"></div>

	<ul id="searchTabs" class="nav nav-tabs">
		{% if "gmusic" in providers %}
			<li><a data-toggle="tab" href="#gmusic">Google Music <span class="badge"></span></a></li>
		{% end %}
		{% if "gmusiclibrary" in providers %}
			<li><a data-toggle="tab" href="#gmusiclibrary">Google Music Library <span class="badge"></span></a></li>
		{% end %}
		{% if "yt" in providers %}
			<li><a data-toggle="tab" href="#yt">YouTube <span class="badge"></span></a></li>
		{% end %}
	</ul>

	<div class="tab-content" id="tab-content">
		{% if "gmusic" in providers %}
			<div id="gmusic" class="tab-pane fade"></div>
		{% end %}
		{% if "gmusiclibrary" in providers %}
			<div id="gmusiclibrary" class="tab-pane fade"></div>
		{% end %}
		{% if "yt" in providers %}
			<div id="yt" class="tab-pane fade"></div>
		{% end %}
	</div>
{% end %}

{% block scripts %}
<script>
	var doSearch = function(){
		{% for provider in providers %}
			searchFn("{{ provider }}");
		{% end %}
    }
    var searchFn = function (provider) {
        var searchTerm = $("#search").val();
        if (searchTerm == "") {
          return;
        }
        doPost("/api", JSON.stringify({"method":"search","params":{"source":provider,"query":searchTerm}}),
            function (data) {
                //var dataJson = JSON.parse(data);
                console.log(data);
                var resultData = "";
                if (data["result"] == "error"){
                  resultData += data["data"];
                  $("li > a[href='#" + provider + "'] > #spinner").remove();
                  $("#" + provider).html(resultData);
                  $("#searchSub").removeAttr('disabled');
                  return;
                }
                if (data["data"]["count"] == 0){
                  resultData += "No results";
                  $("li > a[href='#" + provider + "'] > #spinner").remove();
                  $("li > a[href='#" + provider + "'] > span").append(data["data"]["count"]);
                  $("#" + provider).html(resultData);
                  $("#searchSub").removeAttr('disabled');
                  return;
                }
                if (provider != "yt"){
                  resultData += "<table class=\"table table-striped\"><thead><tr><th colspan=\"2\">Track</th><th>Length</th><th>Artists</th><th>Album</th></tr></thead>";
                  for (var track of data["data"]["results"]){
                    //track = jQuery.parseJSON(track);
                    resultData += "<tr><td><a href=\"/add/"+track["id"]+"\" onclick=\"javascript:addTrack('"+track["id"]+"', '"+provider+"');\" class=\"trackAdd\">"+track["title"]+"</a></td>";
                    if (track["explicit"] < 2) {
                      resultData += "<td>&#127348;</td>";
                    } else {
                        resultData += "<td></td>";
                    }
                    resultData += "<td>"+track["length"]+"</td><td>"+track["artist"]+"</td>";
                    var albumStr = track["album"];
                    if (track["albumId"] != 'None') {
                    	albumStr = "<a href=\"/album/"+provider+"-"+track["albumId"]+"\">"+track["album"]+"</a>";
                    }
                    resultData += "<td>"+albumStr+"</td></tr>";
                  }
                  resultData += "</table>"
                } else {
                  resultData += "<table class=\"table table-striped\">";
                  for (var track of data["data"]["results"]){
                    //track = jQuery.parseJSON(track);
                    resultData += "<tr><td><a href=\"/add/"+track["id"]+"\" onclick=\"javascript:addTrack('"+track["id"]+"', 'yt');\" class=\"trackAdd\">"+track["title"]+"</a></td></tr>";
                  }
                  resultData += "</table>"
                }

                $("li > a[href='#" + provider + "'] > #spinner").remove();
                $("li > a[href='#" + provider + "'] > span").append(data["data"]["count"]);
                //$("#" + provider).stop(true, true);
                $("#" + provider).html(resultData);
                $("#searchSub").removeAttr('disabled');
                $(".trackAdd").click(function(eve){eve.preventDefault();});
            });

        $("#searchSub").attr('disabled', true);
        $("#" + provider).text("Searching...");
        $("li > a[href='#" + provider + "'] > span").text("");
        $("li > a[href='#" + provider + "'] > span").after("<div id=\"spinner\"></div>");
        return false;
    };

    var addTrack = function(id, provider){
      doPost("/api", JSON.stringify({"method":"add","params":{"source":provider,"id":"" + id + ""}}),
            function (data) {
              console.log(data);
              var message = data["data"];
              if (data["result"] == "success"){
                message = data["data"]["info"];
              }
              var n = $("#notybox").noty({text: message, timeout: 5000, type: data["result"]});
            });
      return false;
    };

    $("#searchFrm").submit(doSearch);
    $($("#searchTabs li")[0]).addClass("active");
    $($("#tab-content div")[0]).addClass("in active");
</script>
{% end %}