{% extends "_base.html" %}

{% block title %}
	Music - Situations
{% end %}

{% block content %}
	{% for situation in situations %}
        <div class="row">
			{% for s in situation %}
				<div class="col-md-6" style="padding-bottom: 10px;">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img class="media-object" src="{{ s["img"] }}" alt="{{ s["title"] }}" width="150px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ s["title"] }}</h4>
                            {{ s["desc"] }}<br><br>
                            {% for station in s["stations"] %}
                                <a href="#" data-toggle="modal" data-target="#addModal" data-station="{{ station["id"] }}" data-title="{{ station["name"] }}">{{ station["name"] }}</a><br>
                            {% end %}
                        </div>
                    </div>
                </div>
            {% end %}
        </div>
	{% end %}

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addModalLabel">Add station</h4>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>
{% end %}

{% block scripts %}
	<script type="text/javascript">
		$('#addModal').on('show.bs.modal', function (event) {
			var link = $(event.relatedTarget) // Button that triggered the modal
			var station = link.data('station') // Extract info from data-* attributes
			var title = link.data('title')
			var modal = $(this)

			modal.find('.modal-title').text(title)
			modal.find('.modal-body').html("Loading...")
			modal.find('.modal-body').load("/stations/gmusic-"+station, function( response, status, xhr ) {
				if ( status == "error" ) {
					var msg = "Sorry but there was an error: ";
					modal.find('.modal-body').html( msg + xhr.status + " " + xhr.statusText );
				}
			});
		});
	</script>
{% end %}