Includes tracks similar to:
<table class="table table-striped">
	<tr>
		<td>
			<b>Track</b>
		</td>
		<td>
			<b>Artist</b>
		</td>
		<td>
			<b>Album</b>
		</td>
	</tr>
	{% for track in tracks %}
		<tr>
			<td>
				{{ track['title'] }}
			</td>
			<td>
				{{ track['artist'] }}
			</td>
			<td>
				{{ track["album"] }}
			</td>
		</tr>
	{% end %}
</table>
<input type="number" id="count" name="count" max="100" min="1" value="25">
<button id="addBtn" class="btn btn-primary" onclick="addStation()">Add</button>

<script type="text/javascript">
	var addStation = function(){
		doPost("/api",
			JSON.stringify({"method":"addStation","params":{"source":"gmusic","id":"{{ id }}","count":$("#count").val()}}),
			function (data) {
				console.log(data);
				var message = data["data"];
				if (data["result"] == "success"){
					message = $("#addModal .modal-title").text() + " added";
				}
				var n = $(".modal-body").noty({text: message, timeout: 5000, type: data["result"]});
                $("#addBtn").text('Add');
                $("#addBtn").attr("disabled", false);
			}
		);
		$("#addBtn").html('<div id="spinner"></div>');
		$("#addBtn").attr("disabled", true);
		return false;
	};
</script>