{% extends "_base.html" %}

{% block title %}
	Music - Stations
{% end %}

{% block content %}

    <div class="input-group" style="padding-bottom: 10px;">
        <span class="input-group-addon">Filter</span>
        <input id="filter" type="text" class="form-control" placeholder="Type here...">
    </div>

    <div class="searchable">
        {% for sta in stations %}
            <div class="row" style="padding-bottom: 10px;">
                {% for s in sta %}
                    <div class="col-md-6">
                        <div class="media">
                            <div class="media-left media-top">
                                <img class="media-object" src="{{ s["img"] }}" alt="" width="150px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ s["name"] }}</h4>
                                <a href="#" data-toggle="modal" data-target="#addModal" data-station="{{ s["id"] }}" data-title="{{ s["name"] }}">Add</a><br>
                            </div>
                        </div>
                    </div>
                {% end %}
            </div>
        {% end %}
    </div>

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="addModalLabel">Add station</h4>
				</div>
				<div class="modal-body">

				</div>
			</div>
		</div>
	</div>
{% end %}

{% block scripts %}
	<script type="text/javascript">
		$('#addModal').on('show.bs.modal', function (event) {
			var link = $(event.relatedTarget) // Button that triggered the modal
			var station = link.data('station') // Extract info from data-* attributes
			var title = link.data('title')
			var modal = $(this)

			modal.find('.modal-title').text(title)
			modal.find('.modal-body').html("Loading...")
			modal.find('.modal-body').load("/stations/gmusic-"+station, function( response, status, xhr ) {
				if ( status == "error" ) {
					var msg = "Sorry but there was an error: ";
					modal.find('.modal-body').html( msg + xhr.status + " " + xhr.statusText );
				}
			});
		});

		$(document).ready(function () {
            (function ($) {
                $('#filter').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    var search = $('.searchable .row .media');
                    search.parent().parent().css("padding-bottom", "0px");
                    search.hide();
                    var result = search.filter(function() {
                      return rex.test($(this).text());
                    });
                    result.show().parent().parent().css("padding-bottom", "10px");
                })
            }(jQuery));
        });
	</script>
{% end %}